{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- bootstrap-link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--javascript-link-bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!--css-link-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">

    <title>TRACKO</title>
    <link rel="shortcut icon" type="image" href="{% static 'images/favicon.png' %}" >
</head>
<body>
    
    <!--navbar-->
    <div class="navbar">

        <div class="mainname">
           <a href="{% url 'index' %}"> <div class="nav-title">TRACKO</div></a>
        </div>

        <div class="menu">
            <ul>
                <li><a href="about">ABOUT</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'register' %}">REGISTER</a></li>
         </ul>
        </div>
        
    </div>

    
    <!--register-->
     <h1>LOGIN HERE!!</h1>
     <h2 class="loginhere">Don't have an account?<li1><a href="{% url 'register' %}"> Register here</a></li1></h2>

     <div class=alert>
     {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Hey!</strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    </div>

    <form action="/login" method="post" style="margin-top:-2cm;">
    {% csrf_token %}

     <div class="registermainbox">
         
     <div class="col-md-3 p-2 name">USERNAME</div>
     <div class="col-md-6 p-2">
         <input type="text" id="username" name="username" class="form-control" placeholder="Enter Username" required autocomplete="off">
     </div>
     <div class="col-md-3 p-2"></div>


     <div class="col-md-3 p-2 name">PASSWORD</div>
     <div class="col-md-6 p-2">
         <input type="password" id="pass1" name="pass1" class="form-control" placeholder="Enter your password" required autocomplete="off">
     </div>
     <div class="col-md-3 p-2"></div>

     <p><a style="color:#AAAAAA; font-size:14.5px; text-decoration: none;"  href="{% url "changepass" %}">Forgot password?</a></p>

    <div class="registerbtn">
         <input id="Button1" type="submit" onclick="register()" class="btn btn-dark" value="LOGIN" >
    </div>

    
  </form>

  <div class=image3>
    <img src="{% static 'images/11.png' %}">
    </div>


</body>
</html>